:root {
	/* Default site background. */
	--site-background:  #000000;

	/* Primary (darker) grey shade and complement text. */
	--grey-a:           #101416;
	--text-a:           #EFEBE9;

	/* Secondary (lighter) grey shade and complement text. */
	--grey-b:           #25292B;
	--text-b:           #DAD6D4;

	/* Button colors. */
	--button:           #93C14D;

	/* URL color. */
	--url:              #4D93C1;

	/* Success (green) color. */
	--success:          #93C14D;

	/* Attention (red) color. */
	--attention:        #FB0A66;
}

@font-face {
	font-family: Source;
	src: url("/static/ttf/SourceCodePro-Regular.ttf");
}

@font-face {
	font-family: Montserrat;
	src: url("/static/ttf/Montserrat-Regular.ttf");
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--site-background);
}

#authentication {
	height: 1ch;
}

#links {
	position: absolute;
	bottom: 10%;
	left: 0;
	margin-left: 7%;
}

#login {
	background-color: var(--grey-a);
	border-radius: 8px;
	font-family: Montserrat;
	width: 42ch;

	display: inline-block;
	padding: 16px;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#login-failed {
	color: var(--attention);
	display: inline-block;
	padding-left: 8px;
	font-family: Montserrat;
}

#login-submit {
	font-family: Montserrat;
	font-size: 18px;
	text-align: left;
	height: 3ch;
	width: 8ch;
}

#map {
	position: relative;
	z-index: 2;
}

#map-geogrid {
	position: absolute;
	z-index: 1;
}

#map-graphic {
	position: absolute;
	width: 100%;
	z-index: 0;
}

#map-graphic object {
	width: 100%;
}

#registration-rejected {
	color: var(--attention);
	display: inline-block;
	padding-left: 8px;
	font-family: Montserrat;
}

#registration-pending {
	color: var(--success);
	display: inline-block;
	padding-left: 8px;
	font-family: Montserrat;
}

#signup {
	color: var(--url);
	font-style: italic;
	height: 1ch;
}

#signup:hover {
	cursor: pointer;
}

#splash {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 100% 100%;

	height: 100vh;
	width: 100%;
}

#splash-login {
	background-color: var(--grey-b);
	color: var(--text-b);
}

#splash-text {
	color: var(--text-a);
	font-family: Source;

	position: absolute;
	top: 0;
	left: 0;
	margin-top: 10%;
	margin-left: 7%;
}

.button {
	background-color: var(--button);
	border: none;
	border-radius: 4px;
	padding: 8px;
}

.button:hover {
	cursor: pointer;
}

.input-field {
	background-color: var(--grey-b);
	border-style: none;
	color: var(--text-b);
	caret-color: var(--text-b);
	font-family: Source;
	font-size: 24px;

	margin-top: 4px;
	margin-bottom: 4px;
	width: 100%;
}

.scroll-none {
	overflow: hidden;
}
