img 
{
  width: 100%;
  height: 100%;
}

#dragMap 
{
  cursor: default;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#maxMapSize 
{
  overflow: hidden;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 1250px;
  height: 635px;
}

.zoomButtons 
{
  margin-left: 11px;
  width: 100px;
  height: 50px;
}