<!DOCTYPE html>
<html class="scroll-none">

{% include "head.html" %}

<body>

	<div id="settings-prompt">
		<img src="{{ url_for('static', filename='svg/settings.svg') }}"/>
	</div>

	<div id="settings" style="display: none; left: -420px;">
		<div id="settings-head">
			<center>
				<h2>SETTINGS</h2>
			</center>
		</div>
		<div id="settings-options">
			<ul>
				<li id="settings-greeting"><b>GREETINGS {{ current_user.username | upper }}</b></li>
				<li id="joshua" style="height: 4ch"></li>
				<div id="settings-ahosts">
					<li><b>AUTHORIZED HOSTS</b></li>
				</div>
				<br>
				<li><b>ADD NEW HOST</b></li>
				<form id="hostadd-form">
					<input class="form-field" name="host_ip" placeholder="Host IP"><br>
					<input class="form-field" name="host_key" placeholder="Host Key"><br>
					<input type="submit" value="Add Host" class="form-button">
				</form>
				<br>
				<li><a class="link" href="{{ url_for('logout') }}">LOG OUT</a></li>
			</ul>
		</div>
	</div>

	<div id="map">
		<div id="map-geogrid">
			<svg id="map-renders">
				<foreignObject width="100%" height="100%" requiredExtensions="http://www.w3.org/1999/xhtml">
					<div id="map-text" xmlns="http://www.w3.org/1999/xhtml"></div>
					<div id="node-interface" style="display: none;">
						<p id="node-ip" style="display: none;"></p>
						<ul id="node-options">
							<li id="node-opt-traceroute" onclick="node_traceroute()">
								&gt; Trace Route
							</li>

							<!-- Replace this with the actual function once Mary finishes her part. -->
							<li onclick="node_moreinfo()">&gt; More Info</li>
						</ul>
					</div>
					<div id="node-traceroute" style="display: none;">
						<p>From:</p>
						<ul id="node-traceroute-origins"></ul>
					</div>
				</foreignObject>
			</svg>
		</div>
		<div id="map-graphic">
			<object type="image/svg+xml" data="{{ url_for('static', filename='svg/map0.svg') }}"></object>
		</div>
	</div>

	<script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.drawsvg.js') }}"></script>
	<script src="{{ url_for('static', filename='js/robinson.js') }}"></script>
	<script src="{{ url_for('static', filename='js/typewriter.js') }}"></script>
	<script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>

</html>
