<!DOCTYPE html>
<html>

{% include "head.html" %}

<body>

	<div id="splash">

		<div id="particles-js">
			<div id="splash-text">
				<h1 id="splash-title"></h1>
				<h2 id="splash-subtitle"></h2>
			</div>
			<div id="links">
				<a href="https://github.com/shawnduong/CyberTrace">
					<img src="{{ url_for('static', filename='png/GitHub-Mark-Light-64px.png') }}"/>
				</a>
			</div>
		</div>

		<div id="splash-login">
			<div id="login">
				<form action="/login" method="POST">
					<h2 id="authentication">Authentication</h2>
					<br>
					<label for="username">Username</label>
					<br>
					<input type="text" id="username" name="username" class="input-field">
					<br>
					<label for="password">Password</label>
					<br>
					<input type="password" id="password" name="password" class="input-field">
					<br><br>
					<input type="hidden" id="login-type" name="login-type" value="login">
					<button id="login-submit" class="button">Log In</button>
					{% if failed %}
						<h5 id="login-failed">Login failed. Please try again.</h5>
					{% endif %}
				</form>
				<br><br>
				<p id="signup">Don't have an account? Sign up for one.</p>
			</div>
		</div>

	</div>

	<script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/particles.js') }}"></script>
	<script src="{{ url_for('static', filename='js/typewriter.js') }}"></script>
	<script src="{{ url_for('static', filename='js/signup.js') }}"></script>

	<script>
		particlesJS.load("particles-js", "{{ url_for('static', filename='json/particles.json') }}", function()
		{
			console.log("particles.js loaded.");
		});

		$(document).ready(function()
		{
			typewriter($("#splash-title"), "CyberTrace", 100);
			typewriter_d($("#splash-subtitle"), "A new way to track cyberattacks.", 50, 2000);
		});
	</script>

</body>

</html>
